<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EEGLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="AudioClientIP" value="129.64.193.43"/>
      <add key="AudioClientPort" value="2323"/>

      <add key="LightClientIP" value="10.10.10.2"/>
      <add key="LightClientPort" value="2323"/>

      <add key="OscServerPort" value="5000"/>

      <add key="DeveloperMode" value = "false"/>
    </appSettings>

    <userSettings>
        <EEGLog.Properties.Settings>
            <setting name="TrackbarBottomRightStrip" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TrackBarTopLeftStrip" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TrackBarCushionOutlineStrip" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TrackBarBrightness" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="OffsetAlphaH" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="OffsetAlphaL" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="OffsetBetaH" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="OffsetBetaL" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="OffsetGammaH" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OffsetGammaL" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="OffsetMeditation" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="OffsetAttention" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="OffsetTheta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetDelta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedMidiInDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value>C:\Projects\MadScientists.Bitbucket.Clone\DotNet\Example log files</value>
            </setting>
            <setting name="Fx1Param1" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="Fx1Param2" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="Fx1Param3" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="Fx2Param1" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="Fx2Param2" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Fx2Param3" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="Fx3Param1" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="Fx3Param2" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="AttentionVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeditationVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterVolume" serializeAs="String">
                <value>0</value>
            </setting>
        </EEGLog.Properties.Settings>
    </userSettings>
</configuration>